/* TSQL can only access folders that are on the machine where database sits onSQLCMD by default (without specify server) is set to use local machine*/--DECLARE @FOLDER_FOR_TSQL VARCHAR(200) = 'C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest' --LAPTOPDECLARE @FOLDER_FOR_TSQL VARCHAR(200) = 'C:\temp\GIT\FilePoint_Grouping\FilePoint\FilePointDB\procs' -- On PDCUNITY05DECLARE @FOLDER_FOR_SQLCMD VARCHAR(200) = 'C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\' IF OBJECT_ID('tempdb..#FILES') IS NOT NULL BEGIN DROP TABLE #FILES  END CREATE TABLE #FILES (SCRIPT VARCHAR(150), DEPTH INT, F INT)INSERT	#FILES(SCRIPT, DEPTH, F)EXEC xp_dirtree @FOLDER_FOR_TSQL, 2, 1SELECT	':r ' + @FOLDER_FOR_SQLCMD + SCRIPTFROM		#FILES AWHERE		EXISTS(			SELECT	*			FROM		SYS.PROCEDURES X			WHERE		X.name = REPLACE(A.SCRIPT, '.SQL', '')		) /* Copy the results above and paste below. On the menu, Query -> SQLCMD mode. Run the query below:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_FILE_TBL_FILE_TEMPLATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_FILE_TBL_RETURN_SUPPORTED_INSTALL.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_FILE_TBL_RETURN_SUPPORTED_UPDATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_FILE_TBL_VOUCHER_SUPPORTED.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_CATEGORY.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_DISCOUNT_MAPPING.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_DISCOUNT_RATES.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_DISPLAY_LOCATION_FIELD.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_DISPLAY_LOCATION_FLD.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_DISPLAY_LOCATION_RETURN.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_EXEMPT_MAPPING.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_EXEMPT_MAPPING_GA.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_FIELD_MAPPING.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_FIELD_VALIDATION_DEFINITION.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_FIELD_VALIDATION_REGEX.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_FILE_TEMPLATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_FORM_FIELD.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_FORM_MAPPING.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_FORM_RATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_INDUSTRY_MAP.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_JUR.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_JUR_DATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_JUR_TRANSLATION.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_PAYEE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_PAYEE_RETURN_CODE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_PDF_TEMPLATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE_DATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE_FOOD.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE_MAPPING.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE_MAPPING_FOOD.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE_MAPPING_GA.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE_MAPPING_OTHER.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE_MAPPING_SERVICE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RATE_SERVICE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_COMPETING.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_CREATE_FORM_CALC.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_CREATE_ROLLUP.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_DETAIL_SUMMARY.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_FILING_FREQ.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_MISC_DATA.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_NOTES_GENERAL.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_PREPAY.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_ROUNDING.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_RETURN_SUPPORTED.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_ROSTER_DNF_REASON.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_ROSTER_MISC_DATA.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_STATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_STJ.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_STJ_DATE.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_VOUCHER_MISC_DATA.sql:r C:\temp\SVN\ContentManager\Database\FilePointHive\Procs\Build_Latest\SP_BUILD_LATEST_TBL_VOUCHER_SUPPORTED.sql*/